html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
}

#score {
    color: #252525;
    font-size: 45px;
    font-family: Courier New, Courier, monospace
}
#grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: blue;
}